{% extends 'base.html.twig' %}

{% block title %}Service Details - MediNest Bootstrap Template{% endblock %}

{% block body_class %}service-details-page{% endblock %}

{% block main %}

    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1 class="heading-title">Service Details</h1>
              <p class="mb-0">
                Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo
                odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum
                debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat
                ipsum dolorem.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ asset('assets/img/services/service-details-1.webp') }}" alt="" class="img-fluid services-img">
            <h3>Et blanditiis nemo veritatis excepturi</h3>
            <p>
              Ea ipsam et neque fuga aut quia dolor et. Sint similique consequatur est suscipit magnam non quos in aut voluptatibus aut
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro architecto aut.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Et nihil voluptas eos blanditiis magnam.</span></li>
            </ul>
            <p>
              Debitis eos distinctio quae quo fuga voluptas occaecati. Aut pariatur voluptas asperiores soluta quo minus ratione. Ut modi aut
            </p>
            <p>
              Debitis eos distinctio quae quo fuga voluptas occaecati. Aut pariatur voluptas asperiores soluta quo minus ratione. Ut modi aut
            </p>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="services-list">
              <a href="#" class="active">Cardiology</a>
              <a href="#">Neurology</a>
              <a href="#">Hepatology</a>
              <a href="#">Pediatrics</a>
              <a href="#">Eye Care</a>
            </div>

            <h4>Enim qui eos rerum in delectus</h4>
            <p>Nam voluptatem quasi numquam beatae modi. Quia ea non est tempore debitis rerum officia vel maxime modi voluptas ipsa voluptates reprehenderit quos. Voluptas velit minus optio quos qui. Eligendi voluptas occaecati eveniet aut magni.</p>

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Have a Problem?</h4>
              <p class="d-flex align-items-center mt-auto mb-0">
                <span class="me-2">Call us at</span>
                <a href="tel:+15551234567">+1 (555) 123-4567</a>
              </p>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    <!-- Service Details 2 Section -->
    <section id="service-details-2" class="service-details-2 section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6 order-lg-1" data-aos="fade-right" data-aos-delay="200">
            <div class="content">
              <h3>Comprehensive Cardiology Care</h3>
              <p>Our cardiology department offers state-of-the-art diagnostic and treatment services for all heart-related conditions. From routine check-ups to complex procedures, our team is dedicated to your heart health.</p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Advanced cardiac imaging</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Minimally invasive procedures</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>24/7 emergency cardiac care</span></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 order-lg-2" data-aos="fade-left" data-aos-delay="300">
            <img src="{{ asset('assets/img/services/service-details-2.webp') }}" class="img-fluid" alt="Cardiology Service">
          </div>

        </div>

      </div>

    </section><!-- /Service Details 2 Section -->

{% endblock %}